body {
    margin: 0 auto;
    height: 100vh;
    background-image: url("./book.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




/* <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by jcomp - www.freepik.com</a> */