.App {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 500px 1fr 500px;
    grid-template-rows: 100px 1fr 200px;
    text-align: center;
    height: 100vh;
}

.contentDiv {
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    font-size: 20pt;
}

.def {
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: red;
}

.choices {
    grid-column: 1/-1;
    grid-row: 2/3;
    background-color: lightblue;
}

.targetWord {
    grid-column: 1/-1;
    grid-row: 3/4;
    background-color: green;
}